*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;

}
html,body {
  height: 100%;
}
body {
  font-family: sans-serif; 
}
footer{
  height: 120px;
  width: 100%;
}
.nav {
  background-color: rgba(0,0,0,0);
  color: #000
}
nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}

.input-field label {
  color: rgb(18, 14, 235);
}

.input-field input[type=text]:focus + label {
  color: rgb(18, 14, 235);
} 

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(18, 14, 235);
  box-shadow: 0 1px 0 0 #000;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid rgb(18, 14, 235);
  color: rgb(18, 14, 235);
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid rgb(18, 14, 235);
  -webkit-box-shadow: 0 1px 0 0 rgb(18, 14, 235);
  box-shadow: 0 1px 0 0 rgb(18, 14, 235);
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: rgb(18, 14, 235);
}

.contenedor-form {
  padding: 2rem 0 1px 0;
}
#divFormulario {
  min-height: 600px;
  
}
#Footer {
  height: 102px;
}
.buscador i {
  width: 100%;
}
.error {
  /* padding: 1rem!important; */
  color:rgb(18, 14, 235);
  margin-top: 3rem;
  text-align: center;
}
.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}
.card-panel p {
  text-align: center;
  font-size: 1.4rem;
}
.temperatura {
  font-size: 4rem!important
}
.temperatura span {
  font-size: 2rem!important;
  vertical-align: super;
}
.btn-block {
  display: block!important;
}
.resultados {
  margin: 0px;
  padding: 0px;
}
#map { 
  width: 100%;
  height: 300px; 
}
.transparentBG {
  background-color: rgba(255,255,255,0);
}
.transparentBG1 {
  background-color: rgba(255,255,255,0.8);
}
.azul {
  background-color: #0061FF;
  color: white;
}